# Core dependencies
langchain
langchain-community
pandas
python-dotenv
openai
asyncio_atexit

# UI
streamlit

# AutoGen related
autogen-core
autogen-agentchat
autogen-ext[openai,azure]
autogen-ext[docker,web-surfer]
playwright

# Docker related
PyYAML<7.0,>=5.4
