# Core dependencies
langchain
langchain-community
pandas
python-dotenv
openai

# UI
streamlit

# AutoGen related
autogen-core
autogen-agentchat
autogen-ext[openai,azure]
autogen-ext[docker]

# Docker related
PyYAML<7.0,>=5.4